.card-container{
    display: flex;
    background-color:aliceblue;

    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.createTeam-container{
    display: flex;
    background-color:aliceblue;
    margin-top: 10px;
    padding: 10px;
   
   align-items: flex-start;
   justify-content: center;
}